<div class="flex justify-center gap-2">
  @if (cards$ | async; as cards) {
    @for (card of cards; track $index) {
      @let isCardReveal = !isUser() && !!card && card !== CARD_ENUM.BACK;

      <app-card
        [variant]="card"
        [owner]="isUser() ? CARD_OWNER_ENUM.USER : CARD_OWNER_ENUM.OPPONENT"
        [animate.enter]="isCardReveal ? 'slide-in' : 'drop-in'"
        [animate.leave]="isCardReveal ? 'hide' : undefined"
        [highlight]="!!card && highlight().includes(card)"
      />
    }
  }
</div>
