<div class="absolute bottom-4 w-full px-[25%] text-lg font-semibold">
  <div class="mb-2 flex w-full items-end justify-center gap-4">
    @if (isUserTurn$ | async) {
      @for (action of PLAYER_ACTIONS; track action) {
        <!-- TODO: BET action amount -->
        <button
          (click)="sendAction(action)"
          [variant]="action === PLAYER_ACTION_ENUM.FOLD ? 'destructive' : 'ghost'"
          hlmBtn
          class="font-semibold"
        >
          {{ action | playerAction }}
        </button>
      }
    }
  </div>

  <div class="flex items-end justify-center gap-4">
    @if (user$ | async; as user) {
      <!-- TODO: emote button -->
      <app-cards-hand [player]="user" [isUser]="true" />
      <p>{{ user.score | currency }}</p>
    }
  </div>
</div>
