<div class="absolute bottom-4 w-full px-[25%] text-lg font-semibold">
  <div class="flex w-full items-end justify-center gap-4">
    @if (isUserTurn$ | async) {
      @for (action of PLAYER_ACTIONS; track action) {
        <button (click)="matchService.registerUserAction(action)" matButton>
          {{ action | playerAction }}
        </button>
      }
    }
  </div>

  <div class="flex items-end justify-between">
    @if (userService.user(); as user) {
      <p>{{ user.name }}</p>
      <app-cards-hand [player]="user" [isUser]="true" />
      <div>
        <p>Score:</p>
        <p>{{ user.score | currency }}</p>
      </div>
    }
  </div>
</div>
