.drop-in {
  animation: drop-in 0.2s ease-out;
}
@keyframes drop-in {
  from {
    opacity: 0;
    transform: translate(80px, -30px) scale(0.75);
  }
  to {
    opacity: 1;
    transform: translate(0) scale(1);
  }
}

.fade-in {
  animation: fade-in 0.2s ease-out;
}
@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateX(10px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.fade-out {
  animation: fade-out 0.2s ease-out;
}
@keyframes fade-out {
  from {
    display: none;
    opacity: 1;
    transform: translateX(0);
  }
  to {
    display: none;
    opacity: 0;
    transform: translateX(10px);
  }
}
