.drop-in {
  animation: drop-in 0.2s ease-out;
}
@keyframes drop-in {
  from {
    opacity: 0;
    transform: translate(80px, -30px) scale(0.75);
  }
  to {
    opacity: 1;
    transform: translate(0) scale(1);
  }
}

.slide-in {
  animation: slide-in 0.2s ease-out;
}
@keyframes slide-in {
  from {
    opacity: 0;
    transform: translateX(10px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.slide-out {
  animation: slide-out 0.2s ease-out;
}
@keyframes slide-out {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(10px);
  }
}

.hide {
  animation: hide-frame 0.2s ease-out;
}
@keyframes hide-frame {
  from {
    display: none;
  }
  to {
    display: none;
  }
}
