<div class="group absolute top-2 right-2 flex items-center gap-2">
  <hlm-slider
    (valueChange)="changeVolume($event[0])"
    [value]="[volume()]"
    [min]="0"
    [max]="1"
    [step]="0.01"
    [ngClass]="audioIsEnabled() ? 'group-hover:opacity-100' : 'group-hover:opacity-50'"
    class="min-w-40 opacity-0 duration-400 ease-out"
  />

  <ng-icon
    (click)="toggleAudio()"
    [name]="audioIsEnabled() ? 'heroSpeakerWave' : 'heroSpeakerXMark'"
    class="cursor-pointer pr-10 text-white! duration-200 ease-out hover:opacity-80"
    size="36px"
  />
</div>
