<div class="absolute top-1/2 left-1/2 flex -translate-x-1/2 gap-6">
  <div class="flex gap-2">
    @if (cards$ | async; as cards) {
      @for (card of cards; track card) {
        <app-card
          animate.enter="fade-in"
          animate.leave="fade-out"
          [variant]="card"
          [owner]="CARD_OWNER_ENUM.TABLE"
        />
      }
    }
  </div>

  <div class="relative w-30">
    <app-card
      class="absolute inset-0 z-0"
      [variant]="CARD_ENUM.BACK"
      [owner]="CARD_OWNER_ENUM.TABLE"
    />
    <app-card
      class="absolute inset-0 z-10 translate-px"
      [variant]="CARD_ENUM.BACK"
      [owner]="CARD_OWNER_ENUM.TABLE"
    />
    <app-card
      class="absolute inset-0 z-20 translate-0.5"
      [variant]="CARD_ENUM.BACK"
      [owner]="CARD_OWNER_ENUM.TABLE"
    />
  </div>
</div>
