<div class="flex min-h-svh w-full items-center justify-center">
  <form [formRoot]="form">
    <div>
      <mat-form-field>
        <mat-label>Nome de usuário</mat-label>
        <input [formField]="form.userName" matInput placeholder="Insira seu nome de usuário" />
        @if (form.userName() | isFieldInvalid) {
          <mat-error>{{ form.userName().errors()[0].message }}</mat-error>
        }
      </mat-form-field>
    </div>

    <button [disabled]="form().invalid() || form().submitting()" type="submit" matButton>
      @if (form().submitting()) {
        Entrando...
      } @else {
        Entrar
      }
    </button>
  </form>
</div>
