<div class="flex min-h-svh w-full items-center justify-center">
  <form [formRoot]="form">
    <div>
      <hlm-field>
        <label hlmFieldLabel for="userName">Nome de usuário</label>
        <input
          [formField]="form.userName"
          id="userName"
          hlmInput
          placeholder="Insira seu nome de usuário"
        />
        @if (form.userName() | isFieldInvalid) {
          <hlm-field-description>{{ form.userName().errors()[0].message }}</hlm-field-description>
        }
      </hlm-field>
    </div>

    <button [disabled]="form().invalid() || form().submitting()" type="submit" hlmBtn>
      @if (form().submitting()) {
        Entrando...
      } @else {
        Entrar
      }
    </button>
  </form>
</div>
