<ng-template #tableCard let-variant="variant" let-cardClass="class" let-animated="animated">
  <app-card
    [variant]="variant"
    [owner]="CARD_OWNER_ENUM.TABLE"
    [class]="cardClass"
    [animate.enter]="animated ? 'fade-in' : ''"
    [animate.leave]="animated ? 'fade-out' : ''"
  />
</ng-template>

<div class="absolute top-1/2 left-1/2 flex -translate-x-1/2 gap-6">
  <div class="flex gap-2">
    @for (card of cards$ | async; track card) {
      <ng-container *ngTemplateOutlet="tableCard; context: { variant: card, animated: true }" />
    } @empty {
      @for (i of [1, 2, 3, 4, 5]; track i) {
        <ng-container *ngTemplateOutlet="tableCard; context: { variant: null }" />
      }
    }
  </div>

  <div class="relative w-30">
    <ng-container
      *ngTemplateOutlet="
        tableCard;
        context: { variant: CARD_ENUM.BACK, class: 'absolute inset-0 z-0' }
      "
    />
    <ng-container
      *ngTemplateOutlet="
        tableCard;
        context: { variant: CARD_ENUM.BACK, class: 'absolute inset-0 z-10 translate-px' }
      "
    />
    <ng-container
      *ngTemplateOutlet="
        tableCard;
        context: { variant: CARD_ENUM.BACK, class: 'absolute inset-0 z-20 translate-0.5' }
      "
    />
  </div>
</div>
