@import './styles/fonts.css';
@import '@angular/material/prebuilt-themes/magenta-violet.css';
@import 'tailwindcss';
@import './styles/animations.css';
@import './styles/palette.css';

@layer base {
  html {
    caret-color: var(--color-secondary);
  }

  body {
    font-family: 'Lato', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  ::selection {
    @apply text-primary bg-black/80;
  }
}
