@import './styles/fonts.css';

@layer theme, base, components, utilities;
@import 'tailwindcss';
@import 'tailwindcss/theme.css' layer(theme);
@import 'tailwindcss/preflight.css' layer(base);
@import 'tailwindcss/utilities.css';

@import '@spartan-ng/brain/hlm-tailwind-preset.css';

@import './styles/animations.css';
@import './styles/palette.css';
@import './styles/button.css';

@layer base {
  body {
    font-family: 'Lato', sans-serif;
    caret-color: var(--color-secondary);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  ::selection {
    @apply text-primary bg-black/80;
  }

  #background {
    -webkit-user-drag: none;
    user-drag: none;
  }
}
