<div class="w-full px-[25%] text-lg font-semibold">
  <div class="flex w-full items-end justify-center gap-4">
    @if (isUserTurn$ | async) {
      <button matButton>Check</button>
      <button matButton>Bet</button>
      <button matButton>Call</button>
      <button matButton>Raise</button>
      <button matButton>Fold</button>
    }
  </div>

  <div class="flex items-end justify-between">
    @if (userService.user$ | async; as user) {
      <p>{{ user.name }}</p>
      <app-cards-hand [seat]="0" />
      <div>
        <p>Score:</p>
        <p>{{ user.score | currency }}</p>
      </div>
    }
  </div>
</div>
